/* Variables for colors */
$primary-color: #63dafc;
$secondary-color: #e7f1f1;
$tertiary-color: #1d719d;

$primary-color-dm: #082d41;
$secondary-color-dm: #064263;
$tertiary-color-dm: #63dafc;


/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* Variable for fonts */
$main-fonts: Dosis, arial, helvetica;